# Dependencies and build output
**/node_modules/
**/dist/

# Environment files
**/.env
**/.env.testing

# IDE files
.idea/
**/.idea/
.vscode/
**/.vscode/
.cursor/
**/.cursor/
.continue/
**/.continue/
.aider*
docs/
